
h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

p {
    color: #B0C4DE;
    font-size: 16px;
    margin-bottom: 20px;
}

form {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.form-label {
    color: #333;
}

.form-control {
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid #ccc;
}

.btn-primary {
    background-color: rgb(0, 123, 255);
    border-color: rgb(0, 123, 255);
}

.btn-primary:hover {
    background-color: rgb(0, 104, 217);
    border-color: rgb(0, 104, 217);
}


